# Python
__pycache__/
*.pyc
.venv/
.env
*.db

# Node
node_modules/
dist/

# Firebase
firebase/firebase-debug.log
firebase/.firebase/
firebase/public/

# Scripts
scripts/node_modules/

# OS/editor
.DS_Store
.vscode/settings.json
